<table class="table table-striped projects col-md-10 offset-md-1 mt-4 "  >
    <thead >
        <tr>
            <th style="width: 1%">
                #
            </th>
            <th style="width: 20%">
  
  Nombre         </th>
            <th style="width: 20%">
                Fecha de contratacion
            </th>
            <th style="width: 20%">
                Salario
            </th>
            <th style="width: 20%">
               horas trabajadas
            </th>
            <th style="width: 20%">
                departamento
            </th>

  
        </tr>
    </thead>
    <tbody>
      <% resultados.forEach((empleados)=>{%>
        <tr>
            <td>
              <%=empleados.Id%>
            </td>
            <td>
              <%=empleados.Nombre%>
  
            </td>
            <td>
              <% const FechaContratacion = new Date(empleados.FechaContratacion); %>
              <%= FechaContratacion.toLocaleDateString('es-ES', {day: 'numeric',month: 'numeric', year: 'numeric',   }) %>
              
  
             </td>
             <td>
              <%=empleados.Salario%>
  
             </td>
             <td>
              <%=empleados.Horastrabajadas%>
  
             </td>
             <td>
              <%=empleados.Departamento%>
  
             </td>
  
  
        </tr>
  <%})%>
  <tr>
    <td>Salario total</td>
    <td><%= user.total%></td>
</tr>

    </tbody>
  </table>